/**
 * Mobile Media Queries
 * ==========================================================================
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 576px) {
	.breadcrumb__nav,
	.hero__img,
	.ctas,
	.showroom__left,
	.mailing-list__icons,
	.hr-container,
	.footer__top,
	.footer__socials,
	.footer__links,
	.footer__address,
	.footer__cta {
		display: none !important;
	}

	.navbar__logo {
		width: 7rem;
		padding-left: 1rem;
	}

	.navbar-toggler {
		padding-bottom: 0.5rem;
	}

	.hero {
		margin-bottom: 1.7rem;
	}

	.hero__img-mobile {
		display: block !important;
		margin-top: 3.25rem;
	}

	.reviews {
		// padding: 1.5rem;

		#reviews-container {
			padding: 0;

			// .reviews__list {
			// 	justify-content: center;
			// }

			.review__active {
				margin-left: 0;
			}

			.reviews__h2 {
				margin-bottom: 2.5rem;
			}

			.reviews__left {
				display: flex;
				flex-direction: column;
			}

			.reviews__arrows {
				margin: 2rem 0;
				align-self: center;
			}

			#reviews__btn {
				width: 100%;
			}
		}
	}

	.mobile-cta {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 2rem;

		.mobile-cta__h1 {
			font-family: $display;
			font-size: 2.1rem;
			font-style: normal;
			color: $black;
			line-height: 124%; /* 3.255rem */
			margin: 0;
			margin-bottom: 1.5rem;
		}

		.mobile-cta__btn {
			font-family: $body;
			font-size: 1rem;
			font-style: normal;
			font-weight: 600;
			line-height: 1.55rem;
			height: 3.25rem;
			padding: 0.625rem 2rem;
			border-radius: 0.25rem;
			background: $black;
			color: #f9f9f8;
		}
	}

	.showroom {
		text-align: center !important;

		.showroom__right {
			padding: 5rem 2.5rem !important;
		}

		.showroom__h2 {
			font-size: 2rem;
		}

		.showroom__h3 {
			font-size: 1rem;
		}
	}

	.mailing-list {
		padding: 2rem 0 0 !important;

		.mailing-list__title {
			font-size: 2.5rem;
		}

		.mailing-list__paragraph {
			font-size: 1rem;
		}
	}

	.mailing-list__email-input,
	.mailing-list__submit-btn,
	#showroom__btn {
		width: 100% !important;
	}

	// .mailing-list__email-input,
	// .mailing-list__submit-btn {
	// 	width: 80% !important;
	// }

	.mobile-input {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.collection__imgs {
		.collection__img {
			width: 342px !important;
			// height: 430px !important;
		}
	}

	.collection__item {
		align-items: center !important;
		max-width: 100% !important;
	}
}

/* Smartphones and Up ----------- */
@media only screen and (min-device-width: 576px) {
	.footer__mobile-links {
		display: none !important;
	}
}

// /* Smartphones (portrait and landscape) ----------- */
// @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
// 	/* Styles */
// }

// /* Smartphones (landscape) ----------- */
// @media only screen and (min-width: 321px) {
// 	/* Styles */
// }

// /* Smartphones (portrait) ----------- */
// @media only screen and (max-width: 320px) {
// 	/* Styles */
// }
