* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

.main-container {
	overflow: auto;
	margin-top: 6.5rem;
}

img {
	max-width: 100%;
}

.hr {
	width: 261px;
	stroke-width: 1.5px;
	margin: 0 1em 0.75em !important;
}

.separator {
	height: 151px;
	color: $black-50;
	text-align: center;
}
