// Colors

$white: rgb(248, 248, 247);
$off-white: rgba(248, 248, 247, 0.75);
$dark-gray: rgb(176, 176, 176);
$gray: rgb(238, 238, 236);
$light-gray: rgb(244, 243, 241);
$black: rgba(24, 24, 24, 1);
$black-75: rgba(23, 23, 23, 0.75);
$black-50: rgba(24, 24, 24, 0.5);
$error: rgb(224, 130, 123);
$error-dark: rgba(223, 65, 55, 0.75);
$terr: #a5654d;
$blue: #3c4956;
$green: #647162;
$lellow: #efca46;
$brown: #493c35;

// Fonts

$display: 'Bebas Neue', sans-serif;
$body: 'FreeSans', sans-serif;
$body-bold: 'FreeSans Bold', sans-serif;
$body-oblique: 'FreeSans Oblique', sans-serif;
$body-bold-oblique: 'FreeSans Bold Oblique', sans-serif;
$lato: 'Lato', sans-serif;

// Media Queries

$phon-width: 576px;
// $phone: 640px;
$tablet-width: 768px;
$laptop-width: 992px;
$desktop-width: 1024px;
