/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.navbar__logo-link {
		padding-left: 0 !important;
	}

	.navbar__logo {
		width: 7rem;
		padding-left: 1.5rem !important;
	}

	.hero {
		margin-bottom: 1.7rem;
	}

	.ctas {
		display: none !important;
	}

	.mobile-cta__h1 {
		margin-bottom: 1.5rem;
	}

	.mobile-cta {
		display: flex;
		margin-bottom: 2rem;
	}

	.mailing-list__email-input,
	.mailing-list__submit-btn,
	.mobile-cta__btn {
		width: 100% !important;
	}

	.mobile-cta__btn {
		display: flex;
		justify-content: center;
		align-items: center;

		/* margin: 1.7rem 1.5rem 2.5rem; */
	}

	.mailing-list__icons,
	.footer__socials {
		display: none !important;
	}

	.reviews {
		display: none !important;
	}

	.showroom {
		text-align: center !important;
	}

	.showroom__left {
		display: none !important;
	}

	.showroom__right {
		padding: 5rem 1.5rem !important;
	}

	.showroom__h2 {
		font-size: 2rem !important;
	}

	.mailing-list {
		padding: 2rem 0 2rem !important;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.ctas {
		padding: 2rem 1.25rem;
	}
}

/* Medium devices (landscape tablets, 768px and DOWN) */
@media only screen and (max-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and UP) */
@media only screen and (min-width: 992px) {
}

/* Large devices (laptops/desktops, 992px and DOWN) */
@media only screen and (max-width: 992px) {
	.ctas {
		display: none !important;
	}

	.separator {
		height: 120px;
	}

	.mobile-cta {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 2rem;
		margin-top: 2rem;
	}

	.mailing-list__email-input,
	.mailing-list__submit-btn,
	.mobile-cta__btn {
		width: 100% !important;
	}

	.mobile-cta__btn {
		display: flex;
		justify-content: center;
		align-items: center;

		/* margin: 1.7rem 1.5rem 2.5rem; */
	}

	.footer__cta {
		display: none !important;
	}
}

@media only screen and (max-width: 1200px) {
	/* Laptops ----------- */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	/* .ctas {
		padding: 2rem 22.75rem;
	} */
}

/* Medium devices (landscape tablets, 768px and DOWN) */
/* @media only screen and (max-width: 768px) {
} */
