h1,
h2,
h3,
h4,
h5,
h6,
.small {
	margin: 0;
	padding: 0;
	font-style: normal;
	font-weight: normal;
}

h1,
h2,
h3,
h4 {
	font-family: $display;
}

h1 {
	font-size: 3.75rem;
	color: $black;
}

h2 {
	font-family: $display;
	font-size: 3.75rem;
	font-weight: 400;
	color: $black;
	line-height: 111.023%; /* 2.70619rem */
}

h3 {
	font-family: $display;
	font-size: 3rem;
	font-weight: normal;
	color: $black;
}

h4 {
	font-size: 2.375rem;
	color: $black;
}

h5 {
	font-size: 2rem;
}

h6 {
	font-size: 1.5rem;
}

p {
	font-family: $body;
}

a {
	font-size: 1rem;
	font-weight: 600;
	padding: 1rem 2rem;
	text-decoration: none;
	color: $white;
	cursor: pointer;
}

.small {
	color: $black;
	text-align: center;
	font-family: $body;
	font-size: 1rem;
	line-height: 257.023%; /* 2.57025rem */
}
