.hidden {
	display: none;
}

.white-text {
	color: $white !important;
}

.black-text {
	color: $black !important;
}

.black-75-text {
	color: $black-75 !important;
}

.black-50-text {
	color: $black-50 !important;
}

.white-bg {
	background-color: $white !important;
}

.off-white-bg {
	background-color: $off-white !important;
}

.off-white-border {
	border: 2px solid $off-white !important;
}

.black-bg {
	background-color: $black !important;
}

.black-75-bg {
	background-color: $black-75 !important;
}

.black-50-bg {
	background-color: $black-50 !important;
}

.white-border {
	border: 2px solid $white !important;
}

.black-border {
	border: 2px solid $black !important;
}
