/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
	font-family: 'FreeSans';
	src: url('../fonts/FreeSans.ttf');
}

@font-face {
	font-family: 'FreeSans Bold';
	src: url('../fonts/FreeSansBold.ttf');
}

@font-face {
	font-family: 'FreeSans Oblique';
	src: url('../fonts/FreeSansOblique.ttf');
}

@font-face {
	font-family: 'FreeSans Bold Oblique';
	src: url('../fonts/FreeSansBoldOblique.ttf');
}

/* Variables */

:root {
	--display: 'Bebas Neue', 'Jost', sans-serif;
	--body: 'FreeSans', sans-serif;
	--lato: 'Lato', sans-serif;
	--white: rgb(248, 248, 247);
	--off-white: rgba(248, 248, 247, 0.75);
	--dark-grey: rgb(238, 238, 236);
	--light-grey: rgb(244, 243, 241);
	--black: rgba(24, 24, 24, 1);
	--black-75: rgba(24, 24, 24, 0.75);
	--black-50: rgba(24, 24, 24, 0.5);
	--error: rgb(224, 130, 123);
	--terr: #a5654d;
	--blue: #3c4956;
	--green: #647162;
	--lellow: #efca46;
	--brown: #493c35;
	--br: 0.25rem;
}

/* General */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

.main-container {
	overflow: auto;
	margin-top: 6.5rem;
}

img {
	max-width: 100%;
}

.hr {
	width: 261px;
	stroke-width: 1.5px;
	margin: 0 1em 0.75em !important;
}

.separator {
	height: 151px;
	color: var(--black-50);
	text-align: center;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6,
.small {
	margin: 0;
	padding: 0;
	font-style: normal;
	font-weight: normal;
}

h1,
h2,
h3,
h4 {
	font-family: var(--display);
}

h1 {
	font-size: 3.75rem;
	color: var(--black);
}

h2 {
	font-family: var(--display);
	font-size: 3.75rem;
	font-weight: 400;
	color: var(--black);
	line-height: 111.023%; /* 2.70619rem */
}

h3 {
	font-family: var(--display);
	font-size: 3rem;
	font-weight: normal;
	color: var(--black);
}

h4 {
	font-size: 2.375rem;
	color: var(--black);
}

h5 {
	font-size: 2rem;
}

h6 {
	font-size: 1.5rem;
}

p {
	font-family: var(--body);
}

a {
	font-size: 1rem;
	font-weight: 600;
	padding: 1rem 2rem;
	text-decoration: none;
	color: var(--white);
	cursor: pointer;
}

.small {
	color: var(--black);
	text-align: center;
	font-family: var(--body);
	font-size: 1rem;
	line-height: 257.023%; /* 2.57025rem */
}

/* Inputs */

label {
	color: var(--black);
	font-family: var(--display);
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

input {
	width: 27.4375rem;
	padding: 1.03125rem 2rem;
	border-radius: 0.25rem;
	border: 2px solid rgba(24, 24, 24, 0.75);
	margin-bottom: 1.3rem;
	max-width: 100%;
}

textarea {
	width: 27.4375rem;
	padding: 1.03125rem 2rem;
	border-radius: 0.25rem;
	border: 2px solid rgba(24, 24, 24, 0.75);
	margin-bottom: 1.3rem;
	max-width: 100%;
}

/* Form Inputs */

.placeholder__white::placeholder {
	color: var(--white);
}

.placeholder__black::placeholder {
	color: var(--black);
}

/* Buttons */

button {
	padding: 0.75rem 2rem;
	border-radius: var(--br);
}

.btn-text {
	color: var(--white);
	font-family: var(--body);
	font-size: 1rem;
	font-weight: 600;
	line-height: 182.023%; /* 1.82025rem */
}

.outline-btn {
	font-family: var(--body);
	border: 2px solid var(--black);
}

.solid-black-btn {
	font-family: var(--body);
	background-color: var(--black);
	color: var(--white);
	padding: 0.875rem 2rem;
	border-radius: 0.25rem;
	font-size: 1rem;
	line-height: normal;
	transition: 0.3s;
	outline: none;
	border: none;
}

.solid-black-btn:hover {
	color: var(--white);
	background-color: var(--black-75);
}

/* Utility */

.hidden {
	display: none;
}

.white-text {
	color: var(--white) !important;
}

.black-text {
	color: var(--black) !important;
}

.black-75-text {
	color: var(--black-75) !important;
}

.black-50-text {
	color: var(--black-50) !important;
}

.white-bg {
	background-color: var(--white) !important;
}

.off-white-bg {
	background-color: var(--off-white) !important;
}

.off-white-border {
	border: 2px solid var(--off-white) !important;
}

.black-bg {
	background-color: var(--black) !important;
}

.black-75-bg {
	background-color: var(--black-75) !important;
}

.black-50-bg {
	background-color: var(--black-50) !important;
}

.white-border {
	border: 2px solid var(--white) !important;
}

.black-border {
	border: 2px solid var(--black) !important;
}

/* Navigation */

.navbar {
	background: rgba(249, 249, 248, 0.75);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	position: fixed;
	width: 100%;
	z-index: 1000000;
	top: 0;
	padding: 1.5rem 0;
	margin-bottom: 2rem;
}

.navbar__logo {
	height: 1.375rem;
}

.navbar__link {
	color: var(--black-50);
	text-align: center;
	font-family: var(--body);
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: capitalize;
	transition: 0.3s;
}

.navbar__btn {
	font-family: var(--display);
	background-color: var(--black);
	color: var(--white);
	padding: 0.875rem 2rem;
	border-radius: 0.25rem;
	font-size: 1.25rem;
	line-height: normal;
	transition: 0.3s;
}

.navbar__btn:hover {
	color: var(--white);
	background-color: var(--black-75);
}

.breadcrumb {
	--bs-breadcrumb-divider-color: var(--black-75);
}

.breadcrumb__nav {
	margin: 1rem 0 2rem;
}

.breadcrumb__link {
	padding: 0;
	color: var(--black-75);
	font-weight: 400;
}

/* Home Page: Hero */

.hero {
	display: flex;
	justify-content: center;
}

.hero__logo {
	padding: 4.5rem;
}

.hero__left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--black);
}

.hero__right {
	padding: 0;
}

/* Home Page: Calls to Action */

.ctas {
	padding: 2rem;
}

.cta {
	padding-top: 1.75em;
}

.cta-left {
	display: flex;
	flex-direction: column;
}

.cta-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cta-h3 {
	color: var(--black);
	font-family: var(--display);
	font-size: 1.75rem;
	font-style: normal;
	font-weight: 400;
	line-height: 111.023%; /* 2.70619rem */
	text-align: center;
	white-space: nowrap;
}

.cta-btn-container {
	margin-top: 2rem;
}

.cta-btn {
	font-size: 16px;
	padding: 0.75rem 2rem;
	text-decoration: none;
	color: var(--black);
	text-align: center;
	font-family: var(--body);
	font-style: normal;
	font-weight: 600;
	line-height: 155%; /* 1.55rem */
	border-radius: 0.25rem;
	border: 2px solid var(--black);
	white-space: nowrap;
	transition: 0.3s;
}

.cta-btn:hover {
	background-color: var(--black);
	color: var(--white);
}

.mobile-cta {
	display: none;
}

.mobile-cta__h1 {
	color: var(--black);
	font-family: var(--display);
	font-size: 2.1rem;
	font-style: normal;
	line-height: 124%; /* 3.255rem */
}

.mobile-cta__btn {
	height: 3.25rem;
	padding: 0.625rem 2rem;
	border-radius: 0.25rem;
	background: var(--black);
	color: #f9f9f8;
	font-family: var(--body);
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.55rem;
}

/* Home Page: Collections */

.collections-col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.75rem;
}

.collections-col-bottom {
	padding: 0 0.75rem;
}

.collections-section__img {
	cursor: pointer;
	padding-bottom: 1.5rem;
	transition: transform 0.2s ease-out;
	/* margin: 24px 0; */
}

.collections-section__img:hover {
	transform: scale(1.05);
}

.collections__overlay {
	position: relative;
}

.collections__overlay-text {
	font-family: var(--display);
	font-size: 38px;
	font-weight: normal;
	color: var(--white);
	position: absolute;
}

#yellow-chair {
	max-width: fit-content;
}

/* Home Page: Show Room */

.showroom__left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--black);
	padding: 0;
}

.showroom__right {
	background-color: var(--black);
	padding: 5.5rem;
}

.showroom__h2 {
	color: rgb(249, 249, 248);
	font-family: var(--display);
	font-size: 3.6875rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	white-space: nowrap;
	margin-bottom: 1rem;
}

.showroom__h3 {
	color: #f9f9f8;
	font-family: var(--body);
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 129.023%; /* 1.61281rem */
}

.showroom__btn {
	display: inline-flex;
	padding: 0.75rem 2rem;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	border-radius: 0.25rem;
	border: 2px solid #f9f9f8;
	margin: 1.75rem 0;
	white-space: nowrap;
}

/* Home Page: Mailing List */

.mailing-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 6.5rem 0 6rem;
}

.mailing-list__title {
	color: var(--black);
	text-align: center;
	font-size: 4rem;
	line-height: 5.08rem;
}

.mailing-list__paragraph {
	color: var(--black);
	text-align: center;
	font-family: var(--body);
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 300;
	line-height: 127%; /* 1.5875rem */
}

.mailing-list__form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem 0;
}

.mailing-list__email-input:focus,
.mailing-list__email-input:focus-visible {
	color: var(--error);
	border-color: var(--error);
	outline: var(--error);
}

.mailing-list__email-input-error-placeholder::placeholder {
	color: var(--error);
}

.mailing-list__submit-btn {
	height: 3.25rem;
	padding: 0.625rem 2rem;
	border-radius: 0.25rem;
	background: var(--black);
	color: var(--white);
	font-family: var(--body);
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.55rem;
	border: none;
	transition: 0.3s;
}

.mailing-list__submit-btn:hover {
	background-color: var(--black-75);
	color: var(--white);
}

.mailing-list__submit-btn:disabled {
	background-color: var(--black-50);
	color: var(--white);
}

/* Home Page: Reviews */

.reviews {
	padding: 3rem 0 4rem 2rem; /* was 6rem */
}

.reviews__arrows {
	margin: 3.75rem 0;
	cursor: pointer;
}

#reviews__left-arrow {
	margin-right: 5rem;
}

.reviews__list {
	display: flex;
	overflow: hidden;
}

.reviews__h2 {
	color: var(--black);
	font-family: var(--display);
	font-size: 2.4375rem;
	font-style: normal;
	font-weight: 400;
	line-height: 111.023%; /* 2.70619rem */
}

.review {
	width: 13.3125rem;
	height: 18.25rem;
	flex-shrink: 0;
	border-radius: 0.25rem;
	background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.03) 0%,
			rgba(0, 0, 0, 0.03) 100%
		),
		#eeeeec;
	margin: 0 1rem;
	padding: 0.5rem 1rem;
}

.review__author {
	color: var(--black);
	font-family: var(--display);
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 257.023%; /* 3.21281rem */
}

.review__text {
	color: var(--black);
	font-family: var(--body);
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 182.023%; /* 1.82025rem */
}

.review__btn {
	font-size: 16px;
	padding: 0.75rem 2rem;
	text-decoration: none;
	color: var(--black);
	text-align: center;
	font-family: var(--body);
	font-style: normal;
	font-weight: 600;
	line-height: 155%; /* 1.55rem */
	border-radius: 0.25rem;
	border: 2px solid var(--black);
	white-space: nowrap;
}

/* About Page: Top */

.about__top-row__imgs {
	display: flex;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.about__top-row__imgs img {
	width: 400px;
	height: 256px;
}

.about__number {
	font-family: var(--lato);
	font-weight: 800;
}

.about__tagline {
	font-family: var(--lato);
	font-weight: 600;
	font-size: 1.25rem;
	color: var(--black-75);
}

/* About Page: FAQ */

.faq {
	color: var(--black);
	background-color: var(--dark-grey);
	border-radius: 0.25rem;
	padding: 2rem 2rem 1.5rem 2rem;
	margin: 2rem 0;
	cursor: pointer;
}

.faq__row {
	display: flex;
	justify-content: space-between;
}

.faq__question {
	list-style: none !important;
	color: var(--black);
	font-family: var(--display);
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.faq__text {
	font-family: var(--body);
	font-size: 1rem;
	color: var(--black);
	font-family: var(--body);
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 2rem 0 1rem 0;
}

.faq-arrow {
	width: 2rem;
	height: 0.5rem;
}

/* Collections Page */

.marquee {
	height: 13rem;
}

.marquee__section-link {
	color: var(--black);
	font-family: var(--display);
	font-size: 221.565px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
}

.marquee__section-img {
	border-radius: 2.103px;
	margin-bottom: 9rem;
}

.marquee__section-link-1:hover {
	color: var(--terr);
}

.marquee__section-link-2:hover {
	color: var(--blue);
}

.marquee__section-link-3:hover {
	color: var(--green);
}

.marquee__section-link-4:hover {
	color: var(--lellow);
}

.marquee__section-link-5:hover {
	color: var(--terr);
}

.marquee__section-link-6:hover {
	color: var(--blue);
}

.marquee__section-link-7:hover {
	color: var(--green);
}

/* Collection Pages */

.collection__item {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	transition: transform 0.2s ease-out;
}

.collection__item:hover {
	transform: scale(1.05);
}

.collection__img {
	width: 384px;
	height: 456px;
	margin: 10.667px;
	border-radius: 6px;
	cursor: pointer;
}

.modal {
	top: 112px !important;
	--bs-modal-width: 744px;
	height: 671px;
	--bs-modal-padding: 72px;
}

.modal-body {
	padding-bottom: 1rem;
}

.modal-footer {
	padding-top: 1rem;
}

.modal-row {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.modal-middle-row {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.modal-big-img {
	width: 456px;
	height: 320px;
}

.modal-small-img {
	width: 128px;
	height: 96px;
}

.modal-text {
	margin-bottom: 0;
	color: var(--black);
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.modal-icon {
	width: 22px;
	height: 22px;
	margin: 0 0.5rem;
}

.modal-desc-title {
	color: var(--black-75);
	font-family: var(--body);
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	/* line-height: 1.55rem; */
}

.modal-desc-body {
	color: var(--black);
	font-family: var(--body);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 143.5%; /* 25.83px */
}

/* Contact Page */

.contact__top-row {
	margin-top: 3.5rem;
}

.contact__bottom-row {
	margin: 5.5rem 0 7rem;
}

.contact-form input,
.contact-form textarea {
	margin-bottom: 2rem;
}

.contact-info h6 {
	color: var(--black);
	font-family: var(--display);
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 2rem;
}

.contact-info p {
	color: var(--black-75);
	font-family: var(--body);
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 25.2px */
}

.contact-info .contact-info__hr {
	width: 343px;
	margin: 2rem 0 3rem;
}

.contact-info__img-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact-info__address {
	color: var(--black);
	font-family: 'FreeSans Bold', sans-serif;
	font-size: 20px;
	font-style: normal;
	line-height: 140%; /* 28px */
	margin: 1.5rem 0;
}

/* Footer */

.footer {
	background-color: var(--light-gray);
	padding: 0 2rem;
}

.footer__col {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer__top {
	padding: 3rem 0;
}

.footer__icon {
	width: 2.25rem;
}

.footer__address,
.footer__cta {
	text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.navbar__logo-link {
		padding-left: 0 !important;
	}

	.navbar__logo {
		width: 7rem;
		padding-left: 1.5rem !important;
	}

	.hero {
		margin-bottom: 1.7rem;
	}

	.ctas {
		display: none !important;
	}

	.mobile-cta__h1 {
		margin-bottom: 1.5rem;
	}

	.mobile-cta {
		display: flex;
		margin-bottom: 2rem;
	}

	.mailing-list__email-input,
	.mailing-list__submit-btn,
	.mobile-cta__btn {
		width: 100% !important;
	}

	.mobile-cta__btn {
		display: flex;
		justify-content: center;
		align-items: center;

		/* margin: 1.7rem 1.5rem 2.5rem; */
	}

	.mailing-list__icons,
	.footer__socials {
		display: none !important;
	}

	.reviews {
		display: none !important;
	}

	.showroom {
		text-align: center !important;
	}

	.showroom__left {
		display: none !important;
	}

	.showroom__right {
		padding: 5rem 1.5rem !important;
	}

	.showroom__h2 {
		font-size: 2rem !important;
	}

	.mailing-list {
		padding: 2rem 0 2rem !important;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.ctas {
		padding: 2rem 1.25rem;
	}
}

/* Medium devices (landscape tablets, 768px and DOWN) */
@media only screen and (max-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	/* .row.no-gutter [class*='col']:not(:first-child):not(:last-child) {
		padding-right: 0;
		padding-left: 0;
	}
	.row.no-gutter [class*='col']:first-child {
		padding-right: 0;
	}
	.row.no-gutter [class*='col']:last-child {
		padding-left: 0;
	} */
}

/* Large devices (laptops/desktops, 992px and DOWN) */
@media only screen and (max-width: 992px) {
	.ctas {
		display: none !important;
	}

	.mobile-cta {
		display: flex;
		margin-bottom: 2rem;
	}

	.mailing-list__email-input,
	.mailing-list__submit-btn,
	.mobile-cta__btn {
		width: 100% !important;
	}

	.mobile-cta__btn {
		display: flex;
		justify-content: center;
		align-items: center;

		/* margin: 1.7rem 1.5rem 2.5rem; */
	}

	.footer__cta {
		display: none !important;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	/* .ctas {
		padding: 2rem 22.75rem;
	} */
}

/* Medium devices (landscape tablets, 768px and DOWN) */
/* @media only screen and (max-width: 768px) {
} */
