@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: "FreeSans";
  src: url("/fonts/FreeSans.ttf");
}
@font-face {
  font-family: "FreeSans Bold";
  src: url("/fonts/FreeSansBold.ttf");
}
@font-face {
  font-family: "FreeSans Oblique";
  src: url("/fonts/FreeSansOblique.ttf");
}
@font-face {
  font-family: "FreeSans Bold Oblique";
  src: url("/fonts/FreeSansBoldOblique.ttf");
}
h1,
h2,
h3,
h4,
h5,
h6,
.small {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
}

h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue", sans-serif;
}

h1 {
  font-size: 3.75rem;
  color: #181818;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.75rem;
  font-weight: 400;
  color: #181818;
  line-height: 111.023%;
  /* 2.70619rem */
}

h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  font-weight: normal;
  color: #181818;
}

h4 {
  font-size: 2.375rem;
  color: #181818;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  font-family: "FreeSans", sans-serif;
}

a {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #f8f8f7;
  cursor: pointer;
}

.small {
  color: #181818;
  font-family: "FreeSans", sans-serif;
  font-size: 1rem;
  line-height: 257.023%;
  /* 2.57025rem */
}

.hidden {
  display: none;
}

.white-text {
  color: #f8f8f7 !important;
}

.black-text {
  color: #181818 !important;
}

.black-75-text {
  color: rgba(23, 23, 23, 0.75) !important;
}

.black-50-text {
  color: rgba(24, 24, 24, 0.5) !important;
}

.white-bg {
  background-color: #f8f8f7 !important;
}

.off-white-bg {
  background-color: rgba(248, 248, 247, 0.75) !important;
}

.off-white-border {
  border: 2px solid rgba(248, 248, 247, 0.75) !important;
}

.black-bg {
  background-color: #181818 !important;
}

.black-75-bg {
  background-color: rgba(23, 23, 23, 0.75) !important;
}

.black-50-bg {
  background-color: rgba(24, 24, 24, 0.5) !important;
}

.white-border {
  border: 2px solid #f8f8f7 !important;
}

.black-border {
  border: 2px solid #181818 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.main-container {
  overflow: auto;
  margin-top: 6.5rem;
}

img {
  max-width: 100%;
}

.hr {
  width: 261px;
  stroke-width: 1.5px;
  margin: 0 1em 0.75em !important;
}

.separator {
  height: 151px;
  color: rgba(24, 24, 24, 0.5);
  text-align: center;
}

/* Home Page: Hero */
.hero {
  display: flex;
  justify-content: center;
}
.hero .hero__img {
  margin-top: 6.25rem;
}

.hero__img-mobile {
  display: none !important;
}

/* Home Page: Calls to Action */
.ctas {
  padding: 2rem;
}
.ctas .cta {
  padding-top: 1.75em;
}
.ctas .cta-left {
  display: flex;
  flex-direction: column;
}
.ctas .cta-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ctas .cta-h3 {
  color: #181818;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 111.023%;
  /* 2.70619rem */
  text-align: center;
  white-space: nowrap;
}
.ctas .cta-btn-container {
  margin-top: 2rem;
}

.mobile-cta {
  display: none;
}
.mobile-cta .mobile-cta__h1 {
  color: #181818;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.1rem;
  font-style: normal;
  line-height: 124%;
  /* 3.255rem */
}
.mobile-cta .mobile-cta__btn {
  height: 3.25rem;
  padding: 0.625rem 2rem;
  border-radius: 0.25rem;
  background: #181818;
  color: #f9f9f8;
  font-family: "FreeSans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.55rem;
}

/* Home Page: Collections */
.collections-container-1,
.collections-container-2 {
  display: flex;
  justify-content: center;
}

.collections-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;
}

.collections-col-bottom {
  padding: 0 0.75rem;
}

.collections-section__img {
  cursor: pointer;
  padding-bottom: 1.5rem;
  transition: transform 0.2s ease-out;
}

.collections-section__img:hover {
  transform: scale(1.05);
}

.collections__overlay {
  position: relative;
}

.collections__overlay-text {
  font-family: "Bebas Neue", sans-serif;
  font-size: 38px;
  font-weight: normal;
  color: #f8f8f7;
  position: absolute;
}

#yellow-chair {
  max-width: fit-content;
}

/* Home Page: Show Room */
.showroom__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  padding: 0;
}

.showroom__right {
  background-color: #181818;
  padding: 5.5rem;
}

.showroom__h2 {
  color: #f8f8f7;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  margin-bottom: 1rem;
}

.showroom__h3 {
  color: #f8f8f7;
  font-family: "FreeSans", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 129.023%;
  /* 1.61281rem */
}

#showroom__btn {
  display: inline-flex;
  margin: 1.75rem 0;
}
#showroom__btn:hover {
  background-color: #b0b0b0 !important;
  color: #181818 !important;
}

/* Home Page: Mailing List */
.mailing-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6.5rem 0 6rem;
}

.mailing-list__title {
  color: #181818;
  text-align: center;
  font-size: 4rem;
  line-height: 5.08rem;
}

.mailing-list__paragraph {
  color: #181818;
  text-align: center;
  font-family: "FreeSans", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 127%;
  /* 1.5875rem */
}

.mailing-list__form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.mailing-list__email-input {
  height: 3.25rem;
  color: rgba(24, 24, 24, 0.5);
  border-color: rgba(24, 24, 24, 0.5);
  outline: rgba(24, 24, 24, 0.5);
  transition: 0.3s;
}

.mailing-list__email-input-active {
  color: rgba(23, 23, 23, 0.75);
  border-color: rgba(23, 23, 23, 0.75);
  outline: rgba(23, 23, 23, 0.75);
  transition: 0.3s;
}

.mailing-list__email-input-active::placeholder {
  color: rgba(23, 23, 23, 0.75);
  transition: 0.3s;
}

.mailing-list__email-input-error {
  color: #e0827b;
  border-color: #e0827b;
  outline: #e0827b;
  transition: 0.3s;
}

.mailing-list__email-input-error::placeholder {
  color: #e0827b;
  transition: 0.3s;
}

.mailing-list__email-input-error-text {
  color: rgba(223, 65, 55, 0.75);
  font-family: "FreeSans", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  transition: 0.3s;
}

.mailing-list__submit-btn {
  height: 3.25rem;
  padding: 0.625rem 2rem;
  border-radius: 0.25rem;
  background-color: rgba(24, 24, 24, 0.5);
  color: #f8f8f7;
  font-family: "FreeSans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.55rem;
  border: none;
  transition: 0.3s;
}

.mailing-list__submit-btn:hover {
  background-color: rgba(23, 23, 23, 0.75);
  color: #f8f8f7;
}

.mailing-list__submit-btn:disabled {
  background-color: rgba(24, 24, 24, 0.5);
  color: #f8f8f7;
}

.mailing-list__submit-btn-active {
  background-color: #181818;
}

.mailing-list__submit-btn-active:hover {
  background-color: rgba(23, 23, 23, 0.75);
}

.mailing-list__submit-btn-error {
  background-color: #e0827b;
}

.mailing-list__submit-btn-error:hover {
  background-color: rgba(223, 65, 55, 0.75);
}

/* Home Page: Reviews */
.reviews {
  padding: 3rem 0 4rem 2rem;
  /* was 6rem */
}

.reviews__arrows {
  margin: 3.75rem 0;
  cursor: pointer;
}

#reviews__left-arrow {
  margin-right: 5rem;
}

.reviews__list {
  display: flex;
  overflow: hidden;
}

.reviews__h2 {
  color: #181818;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.4375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 111.023%;
  /* 2.70619rem */
}

.review {
  width: 13.3125rem;
  height: 18.25rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.03) 100%), #eeeeec;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
}

.review__author {
  color: #181818;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 257.023%;
  /* 3.21281rem */
}

.review__text {
  color: #181818;
  font-family: "FreeSans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 182.023%;
  /* 1.82025rem */
}

.review__btn {
  font-size: 16px;
  padding: 0.75rem 2rem;
  text-decoration: none;
  color: #181818;
  text-align: center;
  font-family: "FreeSans", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 155%;
  /* 1.55rem */
  border-radius: 0.25rem;
  border: 2px solid #181818;
  white-space: nowrap;
}

.review__btn:hover {
  background-color: #181818;
  color: #f8f8f7;
}

.about h4 {
  margin-bottom: 1rem;
}
.about .solid-black-btn {
  margin-top: 2rem;
}
.about .about__top-row__imgs {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.about .about__top-row__imgs img {
  width: 400px;
  height: 256px;
  border-radius: 0.25rem;
}
.about .about__middle-row img {
  border-radius: 0.25rem;
}
.about .about__bottom-row {
  margin: 3rem 0 4.25rem;
}
.about .about__bottom-row img {
  width: 530px;
  height: 368px;
  border-radius: 0.25rem;
}
.about .about__number {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
}
.about .about__tagline {
  font-family: "FreeSans", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  color: rgba(23, 23, 23, 0.75);
  white-space: nowrap;
}
.about .metric {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* About Page: FAQ */
.faq {
  color: #181818;
  background-color: #eeeeec;
  border-radius: 0.25rem;
  padding: 2rem 2rem 1.5rem 2rem;
  margin: 2rem 0;
  cursor: pointer;
}

.faq__row {
  display: flex;
  justify-content: space-between;
}
.faq__row .faq__question {
  list-style: none !important;
  color: #181818;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.faq__row .faq__text {
  font-family: "FreeSans", sans-serif;
  font-size: 1rem;
  color: #181818;
  font-family: "FreeSans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 2rem 0 1rem 0;
}
.faq__row .faq-arrow {
  width: 2rem;
  height: 0.5rem;
}

.marquee {
  height: 13rem;
}

.marquee__section-link {
  color: #181818;
  font-family: "Bebas Neue", sans-serif;
  font-size: 221.565px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.marquee__section-img {
  border-radius: 2.103px;
  margin-bottom: 9rem;
}

.marquee__section-link-1:hover {
  color: #a5654d;
}

.marquee__section-link-2:hover {
  color: #3c4956;
}

.marquee__section-link-3:hover {
  color: #647162;
}

.marquee__section-link-4:hover {
  color: #efca46;
}

.marquee__section-link-5:hover {
  color: #a5654d;
}

.marquee__section-link-6:hover {
  color: #3c4956;
}

.marquee__section-link-7:hover {
  color: #647162;
}

.collection__item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  transition: transform 0.2s ease-out;
}

.collection__item:hover {
  transform: scale(1.05);
}

.collection__img {
  width: 384px;
  height: 456px;
  margin: 10.667px;
  border-radius: 6px;
  cursor: pointer;
}

.contact__top-row {
  margin-top: 3.5rem;
}
.contact__top-row .contact-form input,
.contact__top-row .contact-form textarea {
  margin-bottom: 2rem;
}
.contact__top-row .contact-form .row {
  margin-bottom: 0.5rem;
}
.contact__top-row .contact-info h6 {
  color: #181818;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2rem;
}
.contact__top-row .contact-info a {
  color: rgba(23, 23, 23, 0.75);
  font-family: "FreeSans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 25.2px */
  padding: 0;
}
.contact__top-row .contact-info .contact-info__hr {
  width: 343px;
  margin: 2rem 0 3rem;
}

.contact__bottom-row {
  margin: 5.5rem 0 7rem;
}
.contact__bottom-row .contact-info__img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__bottom-row .contact-info__address {
  color: #181818;
  font-family: "FreeSans", sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 140%;
  /* 28px */
  margin: 1.5rem 0;
}

.navbar {
  background: rgba(249, 249, 248, 0.75);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  position: fixed;
  width: 100%;
  z-index: 1000000;
  top: 0;
  padding: 1.5rem 0;
  margin-bottom: 2rem;
}
.navbar .navbar__logo {
  height: 1.375rem;
}
.navbar .navbar__link {
  color: rgba(24, 24, 24, 0.5);
  text-align: center;
  font-family: "FreeSans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  transition: 0.3s;
}
.navbar .navbar__link.active {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 2px;
}
.navbar #navbar__link-about {
  padding-left: 3rem;
  padding-right: 3rem;
}
.navbar .navbar__btn {
  font-family: "Bebas Neue", sans-serif;
  background-color: #181818;
  color: #f8f8f7;
  padding: 0.875rem 2rem;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  line-height: normal;
  transition: 0.3s;
}
.navbar .navbar__btn:hover {
  color: #f8f8f7;
  background-color: rgba(23, 23, 23, 0.75);
}

@media only screen and (max-device-width: 992px) {
  .navbar .navbar__btn,
.navbar #navbar__link-collections {
    display: none !important;
  }
  .navbar .navbar-nav {
    margin-top: 1rem;
    margin-bottom: 0 !important;
  }
  .navbar .navbar__logo-link {
    padding-left: 0 !important;
  }
  .navbar .navbar__logo {
    width: 8rem;
    padding-left: 1.5rem !important;
  }
  .navbar .navbar-toggler {
    border: none !important;
  }
  .navbar .navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    transition: 0.3s;
  }
  .navbar .navbar__link {
    color: #181818;
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left !important;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .navbar .navbar__link#navbar__link-about {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .navbar .navbar__link.navlink__active-mobile {
    background-color: #eeeeec;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 2px;
  }
}
.breadcrumb {
  --bs-breadcrumb-divider-color: $black-75;
}

.breadcrumb__nav {
  margin: 1rem 0 2rem;
}

.breadcrumb__link {
  padding: 0;
  color: rgba(23, 23, 23, 0.75);
  font-weight: 400;
}

button {
  padding: 0.75rem 2rem;
  border-radius: 0.25rem;
}

.btn-text {
  color: #f8f8f7;
  font-family: "FreeSans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 182.023%;
  /* 1.82025rem */
}

.solid-black-btn {
  font-family: "FreeSans", sans-serif;
  padding: 0.875rem 2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: normal;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  white-space: nowrap;
  transition: 0.3s;
  background-color: #181818;
  color: #f8f8f7;
}
.solid-black-btn:hover {
  color: #f8f8f7;
  background-color: rgba(23, 23, 23, 0.75);
}

.solid-white-btn {
  font-family: "FreeSans", sans-serif;
  padding: 0.875rem 2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: normal;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  white-space: nowrap;
  transition: 0.3s;
  background-color: #f8f8f7;
  color: #181818;
}
.solid-white-btn:hover {
  color: #f8f8f7;
  background-color: #181818;
}

.black-outline-btn {
  font-family: "FreeSans", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  line-height: 155%;
  /* 1.55rem */
  padding: 0.75rem 2rem;
  text-decoration: none;
  border-radius: 0.25rem;
  white-space: nowrap;
  transition: 0.3s;
  color: #181818;
  border: 2px solid #181818;
}
.black-outline-btn:hover {
  background-color: #181818;
  color: #f8f8f7;
}

button {
  padding: 0.75rem 2rem;
  border-radius: 0.25rem;
}

.btn-text {
  color: #f8f8f7;
  font-family: "FreeSans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 182.023%;
  /* 1.82025rem */
}

.solid-black-btn {
  font-family: "FreeSans", sans-serif;
  padding: 0.875rem 2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: normal;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  white-space: nowrap;
  transition: 0.3s;
  background-color: #181818;
  color: #f8f8f7;
}
.solid-black-btn:hover {
  color: #f8f8f7;
  background-color: rgba(23, 23, 23, 0.75);
}

.solid-white-btn {
  font-family: "FreeSans", sans-serif;
  padding: 0.875rem 2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: normal;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  white-space: nowrap;
  transition: 0.3s;
  background-color: #f8f8f7;
  color: #181818;
}
.solid-white-btn:hover {
  color: #f8f8f7;
  background-color: #181818;
}

.black-outline-btn {
  font-family: "FreeSans", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  line-height: 155%;
  /* 1.55rem */
  padding: 0.75rem 2rem;
  text-decoration: none;
  border-radius: 0.25rem;
  white-space: nowrap;
  transition: 0.3s;
  color: #181818;
  border: 2px solid #181818;
}
.black-outline-btn:hover {
  background-color: #181818;
  color: #f8f8f7;
}

label {
  color: #181818;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input {
  width: 27.4375rem;
  padding: 1.03125rem 2rem;
  border-radius: 0.25rem;
  border: 2px solid rgba(24, 24, 24, 0.5);
  margin-bottom: 1.3rem;
  max-width: 100%;
}

textarea {
  width: 27.4375rem;
  padding: 1.03125rem 2rem;
  border-radius: 0.25rem;
  border: 2px solid rgba(24, 24, 24, 0.5);
  margin-bottom: 1.3rem;
  max-width: 100%;
}

.placeholder__white::placeholder {
  color: #f8f8f7;
}

.placeholder__black::placeholder {
  color: #181818;
}

.modal {
  top: 6rem !important;
  --bs-modal-width: 787px;
  height: 794px;
  --bs-modal-padding: 3.25rem;
}
.modal .collection-modal-footer {
  margin-top: 1rem;
  padding-bottom: 3.25rem !important;
}
.modal .container-fluid,
.modal .row,
.modal .col-md-6 {
  padding: 0;
}
.modal .modal-body {
  padding-bottom: 0rem;
}
.modal .modal-carousel-item img {
  width: 641px;
  height: 336px;
  border-radius: 4px;
  background: rgba(24, 24, 24, 0.5);
}
.modal .modal-row {
  margin: 1rem 0 0.25rem;
}
.modal .modal-row .col {
  padding: 0.5rem;
}
.modal .modal-row a {
  padding: 0;
}
.modal .modal-middle-row {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.modal .modal-big-img {
  width: 456px;
  height: 320px;
}
.modal .modal-small-img {
  width: 128px;
  height: 96px;
}
.modal .modal-text {
  margin-bottom: 0;
  color: #181818;
  font-family: "FreeSans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 25.2px */
  margin-right: 1rem;
}
.modal .modal-icon {
  width: 22px;
  height: 22px;
  margin: 0 0.5rem;
}
.modal .modal-icon:hover {
  cursor: pointer;
}
.modal .modal-desc-title-row {
  margin-bottom: 0.5rem;
}
.modal .modal-desc-title {
  color: rgba(23, 23, 23, 0.75);
  font-family: "FreeSans", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */
  margin-bottom: 0.5rem;
}
.modal .modal-desc-body {
  color: #181818;
  font-family: "FreeSans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 22.4px */
}

.mailing-list-modal {
  top: 10rem !important;
}
.mailing-list-modal h3,
.mailing-list-modal p {
  text-align: center;
}
.mailing-list-modal h3 {
  margin-bottom: 1rem;
}
.mailing-list-modal .mailing-list-modal__btn-container {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 3rem;
}

.footer {
  background-color: #f4f3f1;
  padding: 0 2rem 3rem;
}
.footer .footer__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .footer__top {
  padding-top: 3rem;
}
.footer .footer__icon {
  width: 2.25rem;
}
.footer .footer__address,
.footer .footer__cta {
  text-align: center;
}
.footer .footer__hr {
  margin: 2rem 0;
}
.footer .booking-btn {
  margin-bottom: 1rem;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Large devices (laptops/desktops, 992px and DOWN) */
@media only screen and (max-width: 992px) {
  .ctas {
    display: none !important;
  }

  .separator {
    height: 120px;
  }

  .mobile-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .mobile-cta__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 1.7rem 1.5rem 2.5rem; */
  }

  .footer__cta {
    display: none !important;
  }
}
/* Laptops Only ----------- */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .cta h2 {
    font-size: 3.5rem;
  }

  .cta-h3 {
    font-size: 1.5rem;
  }
}
/* Tablets and Down ----------- */
@media only screen and (max-width: 768px) {
  .contact-info h6 {
    margin-top: 2rem;
  }
}
/* Tablets Only (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 992px) {
  .ctas {
    padding: 2rem 1.25rem;
  }
}
/* Tablets and Up  ----------- */
@media only screen and (min-device-width: 768px) {
  .footer__mobile-bottom {
    display: none !important;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 576px) {
  .hero__img,
.ctas,
.reviews,
.showroom__left,
.mailing-list__icons,
.hr-container,
.footer__top,
.footer__socials,
.footer__links,
.footer__address,
.footer__cta {
    display: none !important;
  }

  .hero {
    margin-bottom: 1.7rem;
  }

  .hero__img-mobile {
    display: block !important;
    margin-top: 6.25rem;
  }

  .mobile-cta {
    display: flex;
    margin-bottom: 2rem;
  }
  .mobile-cta .mobile-cta__h1 {
    margin-bottom: 1.5rem;
  }

  .showroom {
    text-align: center !important;
  }
  .showroom .showroom__right {
    padding: 5rem 1.5rem !important;
  }
  .showroom .showroom__h2 {
    font-size: 2.5rem;
  }
  .showroom .showroom__h3 {
    font-size: 1rem;
  }

  .mailing-list {
    padding: 2rem 0 0 !important;
  }
  .mailing-list .mailing-list__title {
    font-size: 2.5rem;
  }
  .mailing-list .mailing-list__paragraph {
    font-size: 1rem;
  }

  .mailing-list__email-input,
.mailing-list__submit-btn {
    width: 80% !important;
  }

  .mobile-input {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-cta__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 1.7rem 1.5rem 2.5rem; */
  }

  .collection__imgs .collection__img {
    width: 342px !important;
  }

  .collection__item {
    align-items: center !important;
    max-width: 100% !important;
  }

  .footer {
    padding: 1.5rem 3.25rem;
  }
  .footer .footer__mobile-link {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #181818;
  }
  .footer .footer__mobile-bottom {
    text-align: center;
    margin-top: 1.5rem;
  }
  .footer .footer__mobile-bottom .footer__mobile-address {
    color: #181818;
    font-family: "FreeSans Bold", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 22.4px */
  }
  .footer .footer__mobile-bottom .footer__mobile-logo {
    margin-top: 2rem;
  }
  .footer .footer__mobile-bottom .footer__socials-mobile {
    margin-top: 2rem;
  }
  .footer .footer__mobile-bottom .footer__socials-mobile a {
    padding: 0;
  }
  .footer .footer__mobile-bottom .footer__mobile-copyright {
    color: #181818;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 127%;
    /* 20.32px */
    margin-top: 2rem;
  }
}
/* Smartphones and Up ----------- */
@media only screen and (min-device-width: 576px) {
  .footer__mobile-links {
    display: none !important;
  }
}

/*# sourceMappingURL=style.css.map */
