@media only screen and (max-device-width: 992px) {
	.navbar {
		.navbar__btn,
		#navbar__link-collections {
			display: none !important;
		}

		.navbar-nav {
			margin-top: 1rem;
			margin-bottom: 0 !important;
		}

		.navbar__logo-link {
			padding-left: 0 !important;
		}

		.navbar__logo {
			width: 8rem;
			padding-left: 1.5rem !important;
		}

		.navbar-toggler {
			border: none !important;

			&:focus {
				outline: none !important;
				box-shadow: none !important;
			}

			.navbar-toggler-icon {
				transition: 0.3s;
			}
		}

		.navbar__link {
			color: $black;
			font-family: $display;
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-align: left !important;
			padding-left: 1.5rem;
			padding-right: 1.5rem;

			&#navbar__link-about {
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}

			&.navlink__active-mobile {
				background-color: $gray;
			}
		}
	}
}
