/* Tablets and Down ----------- */
@media only screen and (max-width: 768px) {
	.contact-info h6 {
		margin-top: 2rem;
	}
}

/* Tablets Only (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 992px) {
	.ctas {
		padding: 2rem 1.25rem;
	}
}

/* Tablets and Up  ----------- */
@media only screen and (min-device-width: 768px) {
	.footer__mobile-bottom {
		display: none !important;
	}

	// .footer__mobile-links a {
	// 	display: none !important;
	// }
}

// /* Tablets (landscape) ----------- */
// @media only screen and (min-device-width: 768px) and (max-device-width: 992px) and (orientation: landscape) {
// 	/* Styles */
// }

// /* Tablets (portrait) ----------- */
// @media only screen and (min-device-width: 768px) and (max-device-width: 992px) and (orientation: portrait) {
// 	/* Styles */
// }
