/**
 * Home Page
 * ==========================================================================
 */

/* Hero */

.hero {
	display: flex;
	justify-content: center;
}

.hero__img-mobile {
	display: none !important;
}

/* Calls to Action */

.ctas {
	padding: 2rem;

	#tagline {
		margin: 0;
	}

	.cta {
		padding-top: 1.75em;
	}

	.cta-left {
		display: flex;
		flex-direction: column;
	}

	.cta-col {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.cta-h3 {
		color: $black;
		font-family: $display;
		font-size: 1.75rem;
		font-style: normal;
		font-weight: 400;
		line-height: 111.023%; /* 2.70619rem */
		text-align: center;
		white-space: nowrap;
	}

	.cta-btn-container {
		margin-top: 2rem;
	}
}

.mobile-cta {
	display: none;
}

/* Collections */

.collections-container-1,
.collections-container-2 {
	display: flex;
	justify-content: center;
}

.collections-col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// align-items: center;
	// padding: 0 0.75rem;
}

.collections-col-bottom {
	padding: 0 0.75rem;
}

.collections-section__img {
	width: 100%;
	padding-bottom: 1.5rem;
	transition: transform 0.2s ease-out;
	cursor: pointer;
}

.collections-section__img:hover {
	transform: scale(1.05);
}

.collections__overlay {
	position: relative;
}

.collections__overlay-text {
	font-family: $display;
	font-size: 38px;
	font-weight: normal;
	color: $white;
	position: absolute;
}

#yellow-chair {
	max-width: fit-content;
}

/* Show Room */

.showroom {
	overflow: hidden;
}

.showroom__left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $black;
	padding: 0;
}

.showroom__right {
	background-color: $black;
	padding: 5.5rem;
}

.showroom__h2 {
	color: $white;
	font-family: $display;
	font-size: 3.6875rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	white-space: nowrap;
	margin-bottom: 1rem;
}

.showroom__h3 {
	color: $white;
	font-family: $body;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 129.023%; /* 1.61281rem */
}

#showroom__btn {
	display: inline-flex;
	margin: 1.75rem 0;

	&:hover {
		background-color: $dark-gray !important;
		color: $black !important;
	}
}

/* Mailing List */

.mailing-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 6.5rem 0 6rem;
}

.mailing-list__title {
	color: $black;
	text-align: center;
	font-size: 4rem;
	line-height: 5.08rem;
}

.mailing-list__paragraph {
	color: $black;
	text-align: center;
	font-family: $body;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 300;
	line-height: 127%; /* 1.5875rem */
}

.mailing-list__form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem 0;
}

.mailing-list__email-input {
	height: 3.25rem;
	color: $black-50;
	border-color: $black-50;
	outline: $black-50;
	transition: 0.3s;
}

.mailing-list__email-input-active {
	color: $black-75;
	border-color: $black-75;
	outline: $black-75;
	transition: 0.3s;
}

.mailing-list__email-input-active::placeholder {
	color: $black-75;
	transition: 0.3s;
}

.mailing-list__email-input-error {
	color: $error;
	border-color: $error;
	outline: $error;
	transition: 0.3s;
}

.mailing-list__email-input-error::placeholder {
	color: $error;
	transition: 0.3s;
}

.mailing-list__email-input-error-text {
	color: $error-dark;
	font-family: $body;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
	transition: 0.3s;
}

.mailing-list__submit-btn {
	height: 3.25rem;
	padding: 0.625rem 2rem;
	border-radius: 0.25rem;
	background-color: $black-50;
	color: $white;
	font-family: $body;
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.55rem;
	border: none;
	transition: 0.3s;
}

.mailing-list__submit-btn:hover {
	background-color: $black-75;
	color: $white;
}

.mailing-list__submit-btn:disabled {
	background-color: $black-50;
	color: $white;
}

.mailing-list__submit-btn-active {
	background-color: $black;
}

.mailing-list__submit-btn-active:hover {
	background-color: $black-75;
}

.mailing-list__submit-btn-error {
	background-color: $error;
}

.mailing-list__submit-btn-error:hover {
	background-color: $error-dark;
}

/* Reviews */

.reviews {
	// padding: 3rem 0 4rem 2rem; /* was 6rem */
	margin-bottom: 2.5rem;
}

.reviews__arrows {
	margin: 3.75rem 0;
	cursor: pointer;
}

#reviews__left-arrow {
	margin-right: 5rem;
}

.reviews__list {
	display: flex;
	overflow: hidden;
}

.reviews__h2 {
	color: $black;
	font-family: $display;
	font-size: 2.4375rem;
	font-style: normal;
	font-weight: 400;
	line-height: 111.023%; /* 2.70619rem */
}

.review {
	width: 13.3125rem;
	height: 18.25rem;
	flex-shrink: 0;
	border-radius: 0.25rem;
	background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.03) 0%,
			rgba(0, 0, 0, 0.03) 100%
		),
		#eeeeec;
	margin-right: 1rem;
	padding: 0.5rem 1rem;
}

.review__author {
	color: $black;
	font-family: $display;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 257.023%; /* 3.21281rem */
}

.review__text {
	color: $black;
	font-family: $body;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 182.023%; /* 1.82025rem */
}

.reviews__btn-container {
	display: flex;
}

.review__btn {
	font-size: 1rem;
	padding: 0.75rem 2rem;
	text-decoration: none;
	color: $black;
	text-align: center;
	font-family: $body;
	font-style: normal;
	font-weight: 600;
	line-height: 155%; /* 1.55rem */
	border-radius: 0.25rem;
	border: 2px solid $black;
	white-space: nowrap;
}

.review__btn:hover {
	background-color: $black;
	color: $white;
}

/**
 * Media Queries
 * ==========================================================================
 */

/* Large devices (laptops/desktops, 992px and DOWN) */
@media only screen and (max-width: 992px) {
	.ctas {
		display: none !important;
	}

	.separator {
		height: 120px;
	}

	.mobile-cta {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 2rem;
		margin-top: 1.5rem;
	}

	// FIXME: Tried to move this to the mobile media query, but for some reason it breaks.
	.mobile-cta__btn {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/* Laptops Only ----------- */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.cta h2 {
		font-size: 3.5rem;
	}

	.cta-h3 {
		font-size: 1.5rem;
	}
}

/* Tablets Only (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 992px) {
	h1 {
		font-size: 3.25rem;
	}

	.ctas {
		padding: 2rem 1.25rem;
	}

	.mobile-cta__h1 {
		margin-top: 1rem;
	}

	.mobile-cta__btn-container {
		display: flex;
		justify-content: center;
		align-items: center;

		.mobile-cta__btn {
			width: 100%;
		}
	}

	.showroom__h2 {
		font-size: 3rem;
	}

	.showroom__h3 {
		font-size: 1.1rem;
	}
}

/* Tablets and Down ----------- */
@media only screen and (max-width: 768px) {
	.hero-container {
		padding: 0 !important;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 576px) {
	.hero__img,
	.ctas,
	.showroom__left,
	.mailing-list__icons,
	.hr-container {
		display: none !important;
	}

	a {
		padding: 1rem;
	}

	.hero {
		margin-bottom: 1.7rem;
	}

	.hero__img-mobile {
		display: block !important;
	}

	.reviews {
		#reviews-container {
			padding: 0;

			.review__active {
				margin-left: 0;
			}

			.reviews__h2 {
				margin-bottom: 2.5rem;
				color: $black;
				font-family: $display;
				font-size: 2rem;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}

			.reviews__left {
				display: flex;
				flex-direction: column;
			}

			.reviews__arrows {
				margin: 2rem 0;
				align-self: center;
			}

			#reviews__btn {
				width: 100%;
			}
		}
	}

	.mobile-cta {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 2rem;

		.mobile-cta__h1 {
			font-family: $display;
			font-size: 2.1rem;
			font-style: normal;
			color: $black;
			line-height: 124%; /* 3.255rem */
			margin: 0;
			margin-bottom: 1.5rem;
		}

		.mobile-cta__btn {
			display: block;
			font-family: $body;
			font-size: 1rem;
			font-style: normal;
			font-weight: 600;
			line-height: 1.55rem;
			text-align: center;
			// height: 3.25rem;
			padding: 0.625rem 2rem;
			border-radius: 0.25rem;
			background: $black;
			color: #f9f9f8;
		}
	}

	.showroom {
		text-align: center !important;

		.showroom__right {
			padding: 5rem 2.5rem !important;
		}

		.showroom__h2 {
			font-size: 2rem;
		}

		.showroom__h3 {
			font-size: 1rem;
		}
	}

	.mailing-list {
		padding: 2rem 0 0 !important;

		.mailing-list__title {
			font-size: 2.5rem;
		}

		.mailing-list__paragraph {
			font-size: 1rem;
		}
	}

	.mailing-list__email-input,
	.mailing-list__submit-btn {
		width: 100% !important;
	}

	#showroom__btn {
		width: auto;
	}

	.mobile-input {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.collection__imgs {
		.collection__img {
			width: 342px !important;
		}
	}

	.collection__item {
		align-items: center !important;
		max-width: 100% !important;
	}
}
