/**
 * Breadcrumbs
 * ==========================================================================
 */

.breadcrumb {
	--bs-breadcrumb-divider-color: $black-75;
	margin-bottom: 0;
}

.breadcrumb__nav {
	margin: 1rem 0 2rem;
}

.breadcrumb__link {
	padding: 0;
	color: $black-75;
	font-weight: 400;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 576px) {
	.breadcrumb__nav {
		display: none !important;
	}
}
